/* первичный цвет - #757575 */
/* вторичный цвет - #212121 */
/* акцент - #2196f3 */

:root {
    --prmary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --white-color: #ffffff;
    --black-color: #000000;
    --bg-main-color: #f5f5f5;
    --bg-our-color: #f5f4fa;
    --bg-footer-color: #2f303a;

    --footer-address-rgba: rgba(255, 255, 255, .6);

    --border: #eeeeee;
    --border-bottom: #ececec;
    --borders: #afb1b8;

    --background:  rgba(255, 255, 255, .1);

    --gradient: rgba(47, 48, 58, 0.4);

    --gradient-about: rgba(47, 48, 58, 0.8);

    --shadow: rgba(0, 0, 0, 0.15);

    --backdrop: rgba(0, 0, 0, 0.2);

    --accent-gradient: rgba(33, 150, 243, 0.9);

    --border-form: rgba(33, 33, 33, 0.2);

    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
color: var(--prmary-text-color);
font-family: Roboto, Verdana,
        sans-serif;
}

.cursor {
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  address {
    font-style: normal;
  }

  button {
    font-family: inherit;
    padding: 0;
    margin: 0;
  }

p {
margin: 0;
} 

a {
    text-decoration: none;
    color: inherit;
  }

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
width: 1200px;
margin: 0 auto;
padding-left: 15px;
padding-right: 15px;
}

.section {
padding-top: 94px;
padding-bottom: 94px;

}

.section:nth-child(2) {
padding-bottom: 0;
}

/* Modal Модальное окно */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--backdrop);
    z-index: 2;
    opacity: 1;
    visibility: visible;
    transition: opacity 250ms var(--timing-function), 
    visibility 250ms var(--timing-function);
}

.close {
    display: flex;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: var(--white-color);
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
    transition: fill 250ms var(--timing-function);
}

.close:hover {
    fill: var(--accent-color);
    color: currentColor;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
    
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    height: 581px;
    width: 528px;

    background-color: var(--white-color);

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    z-index: 2;
    transition: opacity 250ms var(--timing-function);

}

/* Форма в модальном окне */

.form {
margin: 0 auto;
padding: 40px;
}

.form__text { 
margin-bottom: 12px;
font-weight: 700;
font-size: 20px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-text-color);
}

.form__field {
    position: relative;
    margin-bottom: 10px;
}

.form__label {
display: block;
padding-bottom: 4px;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.01em;
color: var(--prmary-text-color);
}

.form__input{
padding-left: 42px;
width: 100%;
height: 40px;
border: 1px solid var(--border-form);
border-radius: 4px;
transition: border 250ms var(--timing-function);
}

/* .form__textarea::placeholder {
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.01em;
color: rgba(117, 117, 117, 0.5);
} */

.form__textarea {
    width: 448px;
    height: 120px;
    border: 1px solid var(--border-form);
    border-radius: 4px;
    padding: 12px 16px;
    resize: none;
    margin-bottom: -4px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);

    transition: border 250ms var(--timing-function);
}

.form__textarea::placeholder {
    color: rgba(117, 117, 117, 0.5);
}

.form__icon {
    position: absolute;
    top: 0;
    left: 12px;
    transform: translate(0, 50%);
    display: inline-block;
     transition: fill 250ms var(--timing-function);
}

.form__input:focus ~ .form__icon {
fill: var(--accent-color);
}

.form__input:hover,
.form__textarea:hover {
    cursor: pointer;
}

.form__input:focus,
.form__textarea:focus {
    border: 1px solid var(--accent-color);
    outline: none;
}

.form__button {
display: block;
width: 200px;
height: 50px;
margin: 30px auto 0 auto;
border: 0;
background-color: var(--accent-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
font-weight: 700;
font-size: 16px;
line-height: 1.9;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #FFFFFF;
cursor: pointer;
/* visibility: hidden; */
}

.privacy__label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 0;
}

.privacy__text { 
    display: inline-block;
    text-align: center;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--prmary-text-color);
}

.privacy__link {
    border-bottom: 1px solid var(--accent-color);
    color: var(--accent-color);
   }


.privacy__icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 1px solid var(--title-text-color);
    border-radius: 2px;
    margin-right: 9px;
    transition: opacity 250ms var(--timing-function);
}

.privacy__icon .icon {
transition: opacity 250ms var(--timing-function);
}

.privacy__input:checked + .privacy__icon {
    border-color: transparent;
    background-color: var(--accent-color);
    position: relative;
}

.privacy__icon .icon {
    opacity: 0;
}

.privacy__input:checked + .privacy__icon .icon {
    opacity: 1;
    position: absolute;
    transform: translate(0, -10%);
}

/* Модифікатори Modifiers */

.feature__title--hidden,
.privacy__input--hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    bottom: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.logo__part--change-color {
  color: var(--white-color)
  }

  .address__link--change-color {
    color: var(--footer-address-rgba)
    } 

    .address__link-map--change-color {
      color: var(--white-color);
    }


/* Шапка сайту Header */

.header {
    max-width: 1600px;
    margin: 0 auto;
    border-bottom: 1px solid var(--border-bottom);
}

.disp-flex {
    display: flex;
}

/* logo */

.logo {
display: block;
padding: 24px 0;
color: var(--accent-color);
font-family: Raleway, Verdana,
        sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
text-decoration: none;
}

.studio {
color: var(--black-color);
}

.hmenu {
    display: flex;
    align-items: center;
    }

/* Меню NAV */

.nav {
    margin-left: 93px;
}

.nav__list {
    display: flex;
}

.nav__item + .nav__item {
    margin-left: 50px;
}

.nav__link {
position: relative;
display: inline-block;
padding: 32px 0 32px;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--title-text-color);
transition: color 250ms var(--timing-function);
}


.nav__link::after {
    content: "";
    position: absolute;
    bottom: -1px;
    right: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    transform: scaleX(0);
    transition: transform 250ms var(--timing-function);
   }

   .nav__link:hover::after,
   .nav__link:focus::after {
       transform: scaleX(1);
       /* width: 100%;
       left: 0; */
    }
    
.current::after {
    transform: scaleX(1)
    /* width: 100%; */
}

.current {
    color: var(--accent-color); 
}

.nav__link:hover,
.nav__link:focus {
    color: var(--accent-color);
}

/* Контакти link */

.top-contacts {
margin: auto 0 auto auto;
}

.top-contacts .link {
display: flex;
padding: 24px 0;
color: var(--prmary-text-color);
fill: currentColor;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
text-decoration: none;

transition: color 250ms var(--timing-function), 
fill 250ms var(--timing-function);;
}

.top-contacts .link:hover,
.top-contacts .link:focus {
color: var(--accent-color);
fill: currentColor;
}

.top-contacts .list {
list-style: none;
display: flex; 
}

.top-contacts .item + .item {
margin-left: 50px; 
}

.top-contacts .icon {
    margin: auto 10px auto auto;
}

/* Секція герой hero */

.hero {
  max-width: 1600px;
  min-height: 600px;
  padding: 200px 0;
  margin: 0 auto;
  background-image: linear-gradient(var(--gradient), var(--gradient)), url(../images/background-image.jpg);
  background-color: var(--bg-footer-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__wrap {
  width: 696px;
  margin: 0 auto;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.hero__button {
  display: block;
  padding: 10px 32px;
  margin: 30px auto 0 auto;
  border: 0;
  font-family: Roboto, Verdana, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 4px 4px var(--shadow);
  border-radius: 4px;
  cursor: pointer;
}

/* Секція Особливості feature */

.feature {
    padding-top: 94px;
}

.feature__list {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.feature__item:not(:last-child) {
    margin-right: 30px;
}

.feature__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--bg-our-color);
    border-radius: 4px;
}

.feature__subtitle{
    margin-bottom: 10px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
    
.feature__description {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

  
/* Секція Чим ми займаємося about */

.about {
  padding: 94px 0;
}

.about__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.about__list {
  display: flex;
}

.about__item {
    position: relative;
}

.about__item:not(:last-child) {
    margin-right: 30px;
}

.about__subtitle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 370px;
    height: 70px;
    background-color: var(--gradient-about);
    color: var(--white-color);
    text-align: center;
    padding: 27px 0;
}


/* Секція Наша команда team */

.team {
  padding: 94px 0;
  margin: 0 auto;
  max-width: 1600px;
  background-color: var(--bg-our-color);
}

.team__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.team__item {
  width: 270px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__item:not(:last-child) {
  margin-right: 30px;
}

.team__subtitle {
  margin: 30px 0 10px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team__description {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__social {
  display: flex;
  margin: 16px 32px 30px 32px;
}

.team__link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--borders);
  transition: background-color 250ms var(--timing-function), 
fill 250ms var(--timing-function);
}

.team__link:hover,
.team__link:focus {
  background-color: var(--accent-color);
  fill: var(--white-color);
}

.team__link:last-child {
  margin-right: 0;
}



/* Секція Постійні кліенти сlients */

.сlients {
  padding: 94px 0;
  margin: 0 auto;
}

.сlients__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.сlients__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.сlients__item:not(:last-child) {
  margin-right: 30px;
}

.сlients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid currentColor;
  border-radius: 4px;
  color: var(--borders);
  fill: currentColor;
  transition: border-color 250ms var(--timing-function), 
fill 250ms var(--timing-function);
}

.сlients__link:hover,
.сlients__link:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}




 
/* Підвал footer */

.footer {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-footer-color);
}

.footer__container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.footer__logo {
display: block;
margin-bottom: 20px;
color: var(--accent-color);
font-family: Raleway, Verdana,sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
text-decoration: none;     
}



.address__link {
font-style: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
text-decoration: none;

transition: color 250ms var(--timing-function);
}

.address__link:hover,
.address__link:focus {
color: var(--accent-color);
}






.address__item:not(:last-child) {
  margin-bottom: 9px;
}




.social__title,
.subscribe__title {
    margin-bottom: 20px;
    color: var(--white-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.social__list {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.social__link {
    display: flex;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    background-color: var(--background);
    justify-content: center;
    align-items: center;

    transition: background-color 250ms var(--timing-function);
}

.social__link:hover,
.social__link:focus {
    background-color: var(--accent-color);
}

/* .social__item + .social__item {
    margin-left: 10px;
} */

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__icon {
fill: var(--white-color);
}

/* .footer .subscribe{
    margin-left: 93px;
} */

.subscribe__input {
    width: 358px;
    height: 50px;
    margin-right: 12px;
    padding: 0 16px;
    background-color: transparent;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    transition: background 250ms var(--timing-function);

}

.subscribe__input:focus {
    background: linear-gradient(
        0deg, 
    rgba(33, 150, 243, 0), 
    rgba(33, 150, 243, 0)),
    linear-gradient(
        0deg, 
    rgba(255, 255, 255, 0.3), 
    rgba(255, 255, 255, 0.3));
    

}

.subscribe__button {

width: 200px;
height: 50px;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
color: var(--white-color);
fill: currentColor;
background-color: var(--accent-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border: 0;

cursor: pointer;
display: inline-flex;
padding: 0 28px;

align-items: center;
justify-content: space-between;
}


/* section button PORTfolio */

.list-button {
  list-style: none;
  }
  
  .list-button .item:not(:last-child) {
  margin-right: 8px;
  }
  
  .button-port {
  background-color: var(--bg-our-color);
  border: 0;
  border-radius: 4px;
  font-family: Roboto, Verdana, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  min-height: 38px;
  min-width: 73px;
  
  transition: background-color 250ms var(--timing-function), 
  color 250ms var(--timing-function), 
  box-shadow 250ms var(--timing-function);
  }
  
  .button-port.current-btn,
  .button-port:hover,
  .button-port:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  
  .container .list-button {
  min-width: 575px;
  display: flex;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 50px;
  justify-content: center;
  }
  
  /* section PORTfolio */
  
  .thumb {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--accent-gradient);
      transform: translateY(100%);
      transition: transform 250ms var(--timing-function);
  }
  
  .port-img .item:hover .thumb {
      transform: translateY(0);
  }
  
  .port-img .port-desc {
  width: 370px;
  height: 294px;
  position: relative;
  overflow: hidden;
  }
  
  .port-img.list {
      flex-wrap: wrap;
      display: flex;
  }
  
  .port-description {
      padding: 63px 24px;
      font-size: 18px;
      line-height: 1.56;
      letter-spacing: 0.03em;
      color: var(--white-color);
  }
  
  .port-img .content-item {
  padding: 20px 24px;
  
  }
  
  .title-port {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  }
  
  .text-port {
   font-size: 16px;
   line-height: 1.88;
   letter-spacing: 0.03em;
  }
  
  
  .content-item {
  border-bottom: 1px solid var(--border);
  border-left: 1px solid var(--border);
  border-right: 1px solid var(--border);
  }
  
  .port-img .item {
  width: 370px;
  background: var(--white-color);
  margin-right: 30px;
  margin-bottom: 30px;
  cursor: pointer;
  
  transition: box-shadow 250ms var(--timing-function);
  }
  
  .port-img .item:hover,
  .port-img .item:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  
  .port-img .item:nth-child(3n) {
  margin-right: 0;
  }
  
  .port-img .item:nth-last-child(-n+3) {
  margin-bottom: 0;
  }